.vadhyar-item-activity-row {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.vadhyar-item-activity-card {
    border-radius: 25px;
}

.vadhyar-item-activity-card-content {
    padding: 5px;
}

.vadhyar-item-activity-index-col {
    border-right-color: var(--ion-color-vadhyar);
    border-right-style: solid;
    border-right-width: thin;
    margin: auto;
    text-align: center;
}

.vadhyar-item-activity-index-text {
    font-size: large;
    font-weight: bold;
    color: silver;
}

.vadhyar-item-activity-name {
    text-align: left;
    font-size: x-small;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.vadhyar-item-activity-description {
    text-align: left;
    font-size: x-small;
}

.vadhyar-item-activity-add-btn {
    text-align: center;
    margin: auto;
}
