.vadhyar-item-primary-icon {
    background-color: var(--ion-color-vadhyar);
    text-align: center;
    padding: 20px 16px;
    border-bottom: solid var(--ion-color-vadhyar-contrast) thin;
}

.vadhyar-item-primary-icon-first {
    background-color: var(--ion-color-vadhyar);
    text-align: center;
    padding: 20px 16px;
    border-top-right-radius: 25px;
    border-bottom: solid var(--ion-color-vadhyar-contrast) thin;
}

.vadhyar-item-primary-name {
    text-align: left;
    margin: auto;
    padding: 20px 16px;
    font-size: medium;
    /*font-weight: lighter;*/
    letter-spacing: 1px;
    text-transform: uppercase;
}

.vadhyar-item-primary-chevron {
    margin: auto;
    padding: 20px 16px;
    font-weight: lighter;
}
