.vadhyar-item-choose-vadhyar-row {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.vadhyar-item-choose-vadhyar-card {
    border-radius: 25px;
}

.vadhyar-item-choose-vadhyar-card-content {
    padding: 3px;
}

.vadhyar-item-choose-vadhyar-index-col {
    border-right-color: var(--ion-color-vadhyar);
    border-right-style: solid;
    border-right-width: thin;
    margin: auto;
    text-align: center;
}

.vadhyar-item-choose-vadhyar-index-text {
    font-size: large;
    font-weight: bold;
    color: silver;
}

.vadhyar-item-choose-vadhyar-name {
    text-align: left;
    font-size: x-small;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.vadhyar-item-choose-vadhyar-bio {
    text-align: left;
    font-size: x-small;
    letter-spacing: 1px;
}

.vadhyar-item-choose-vadhyar-experience {
    text-align: left;
    font-size: x-small;
}

.vadhyar-item-choose-vadhyar-rating {
    text-align: right;
    font-size: xx-small;
    text-transform: uppercase;
}

.vadhyar-item-choose-vadhyar-add-btn {
    text-align: center;
    margin: auto;
}
