.vadhyar-item-confirmation-row {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.vadhyar-item-confirmation-card {
    border-radius: 25px;
}

.vadhyar-item-confirmation-card-content {
    padding: 3px;
}

.vadhyar-item-confirmation-index-col {
    border-right-color: var(--ion-color-vadhyar);
    border-right-style: solid;
    border-right-width: thin;
    margin: auto;
    text-align: center;
}

.vadhyar-item-confirmation-index-text {
    font-size: large;
    font-weight: bold;
    color: silver;
}

.vadhyar-item-confirmation-name {
    text-align: left;
    font-size: small;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.vadhyar-item-confirmation-cost {
    text-align: left;
    font-size: small;
}
