.vadhyar-select-item {
    --border-width: 0;
}


ion-select {
    /* Applies to the value and placeholder color */
    color: var(--ion-color-vadhyar);

    /* Set a different placeholder color */
    --placeholder-color: gray;

    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
}

item-native {
    border: white;
}
