.vadhyar-choose-place-bg {
    --background: linear-gradient(
            to right,
            var(--ion-color-vadhyar) 0%, var(--ion-color-vadhyar) 75%,
            var(--ion-color-vadhyar-contrast) 75%, var(--ion-color-vadhyar-contrast) 100%);
}

.vadhyar-choose-place-title {
    color: var(--ion-color-vadhyar-contrast);
    padding-left: 12px;
    padding-top: 12px;
    font-size: x-large;
    letter-spacing: 3px;
    text-transform: uppercase;
}
