.vadhyar-confirmation-bg {
    --background: var(--ion-color-vadhyar);
}

.vadhyar-confirmation-title {
    color: var(--ion-color-vadhyar-contrast);
    padding-left: 12px;
    padding-top: 12px;
    font-size: x-large;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}
