.screen-list {
    padding: 0;
}

.vadhyar-book-item-icon {
    background-color: var(--ion-color-vadhyar);
    text-align: center;
    padding: 20px 16px;
    margin: auto;
    border-bottom: solid var(--ion-color-vadhyar-contrast) thin;
}

.vadhyar-book-item-icon-first {
    background-color: var(--ion-color-vadhyar);
    text-align: center;
    padding: 20px 16px;
    margin: auto;
    border-top-right-radius: 25px;
    border-bottom: solid var(--ion-color-vadhyar-contrast) thin;
}

.vadhyar-book-item-index {
    color: var(--ion-color-vadhyar-contrast);
    font-size: x-large;
    font-weight: bold;
}

.vadhyar-book-item-col {
    margin: auto;
}

.vadhyar-input-item {
    --placeholder-color: silver;
    --border-width: 0;
}
