.login-grid {
    height: 100%;
    padding: 0;
}

.login-app-name-row {
    padding-top: 40px;
    height: 20%;
}

.login-app-name-col {
    text-align: center;
}

.login-app-name {
    color: var(--ion-color-vadhyar);
    font-size: x-large;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.login-area-row {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 80%;
    background-color: var(--ion-color-vadhyar);
    text-align: center;
}

.login-area-button-row {
    height: 10%;
    background-color: var(--ion-color-vadhyar);
}

