.welcome-grid {
    height: 100%;
    padding: 0;
}

.welcome-app-name-row {
    padding-top: 40px;
    height: 20%;
}

.welcome-app-name-col {
    text-align: center;
}

.welcome-app-name {
    color: var(--ion-color-vadhyar);
    font-size: x-large;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.welcome-area-row {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 70%;
    background-color: var(--ion-color-vadhyar);
    text-align: center;
}

.welcome-text-col {
    margin: auto;
    text-align: center;
}

.welcome-text {
    color: var(--ion-color-vadhyar-contrast);
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: x-large;
    text-transform: capitalize;
}

.welcome-area-button-row {
    height: 10%;
    background-color: var(--ion-color-vadhyar);
}
